body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    padding: 64px;
}

input {
    padding: 8px;
    font-weight: 600;
}

button {
    padding: 12px;
    font-weight: 600;
}

button:active {
    opacity: 0.7;
}
button:disabled {
    cursor: default;
    opacity: 0.5;
}

.content {
    position: relative;
}

.users-content {
    min-width: 40vw;
    height: 70vh;
    background-color: rgb(32, 22, 74);
    padding: 32px;
    overflow-y: auto;
    border-radius: 24px;
}

.users-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 24px;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
}

.user-icon  {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #fff;
    overflow: hidden;
    position: relative;
}
.user-icon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #222;
}
.user-icon::after {
    content: '';
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 70%;
    height: 50%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #222;
}

.user-name {
    font-size: 24px;
}

.user-age {
    font-size: 20px;
}

.delete {
    color: red;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: unset;
    border: unset;
    position: absolute;
    top: calc(50% - 12px);
    right: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}


.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    top: 12px;
    right: -12px;
    transform: translateX(100%);
}

.create-user {
    background-color: rgb(53, 47, 110);
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}