body {
    background-color: #222;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
}

.pokemon-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.pokemon-list .pokemon {
    width: 50px;
    flex-basis: 30%;
}