body {
    margin: 0;
    background-color: rgb(153, 205, 208);
}

.gallery {
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.gallery img {
    width: calc(100% / 2 - 8px / 2);
    cursor: pointer;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 16px;
    right: 16px;
}

.notifications .notification {
    padding: 24px;
    background-color: rgb(117, 149, 146, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: -2px 2px 8px rgb(0, 0, 0, 0.5);
    min-width: 30vw;
    cursor: pointer;
    color: white;
}