body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(152, 209, 228);
  min-height: 100vh;
}

.content {
  padding: 24px 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 64px 24px;
}

.book {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  flex: 0 0 calc(33.333% - 16px);
}

.book h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;

}

.book img {
  width: 17vw;
  height: 25vw;
}

.book button {
  padding: 16px;
  font-size: 18px;
  width: 100%;
} 

.cart, .back {
  position: fixed;
  top: 24px;
  right: 24px;
  border-radius: 24px;
  padding: 8px;
}

.back {
  right: unset;
  left: 24px;
}